<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esbati.keivan.persiancalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".components.ApplicationController"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".features.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Splash"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".features.notification.NotificationBroadcastReceiver"
            android:description="@string/notification_broadcast_receiver_description">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".features.notification.NotificationService"
            android:description="@string/notification_service_description"
            android:exported="false"/>

        <service android:name=".features.notification.NotificationUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:description="@string/notification_update_service_description"
            android:exported="false"/>

        <service android:name=".features.notification.NotificationActionService"
            android:description="@string/notification_action_service_description"
            android:exported="false"/>

        <service
            android:name=".features.notification.TileService"
            android:icon="@drawable/icon01"
            android:label="@string/showToday"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="83ea65b97507c02eff34f3a7c8e8f60a637d0b88" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>